.custom-nav{
  background-color: #5e086c !important;
  color: white !important;
  height: 85px;
}
.custom-button{
  background-color: #5e086c !important;
  color: white !important;
}
.starIcon{
  color: green;
  margin: 5px;
}
.custom-head{
  background-color: #5e086c !important;
  color: white !important;
}
.custom-card{
  border-radius: 20px !important;
  /* overflow: hidden; */
  height: 500px;
  overflow: auto;

}
.custom-search{
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  background-color: white;
  padding:0px 10px
}
.custom-input{
border: unset !important;
width: calc(100% - 30px) !important;
}
.search-icon{
  width: 25px;
  height: 25px;
  margin-top: 7px;
}
.custom-brand{
width: 30%;
}
.nav-link{
  color: white !important;
}
.profile-container{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.profile-img{
  width: 40px;
  height: 40px;
}